.register-container {
  max-width: 45rem;
  width: 450px;
  margin: 4rem auto;
  padding: 3rem;
  background-color: var(--color-main) !important;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 24, 88, 0.1);

  .ant-input,
  .ant-input-password,
  .ant-picker {
    background-color: var(--color-main) !important;
    border: 1px solid var(--color-secondary) !important;
    border-radius: 0.6rem;
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--color-paragraph) !important;

    &:focus,
    &:hover {
      border-color: var(--color-headline) !important;
      box-shadow: 0 0 0 2px rgba(0, 24, 88, 0.1);
    }
  }
}

.title {
  text-align: center;
  color: var(--color-headline) !important;
  margin-bottom: 2rem;
}

.ant-btn-primary {
  background-color: var(--color-button) !important;
  color: var(--color-button-text) !important;
  font-weight: bold;
  border: none;

  &:hover {
    background-color: var(--color-tertiary) !important;
  }
}

.link-login {
  display: block;
  text-align: center;
  color: var(--color-paragraph) !important;
  font-size: 1.3rem;

  &:hover {
    color: var(--color-headline) !important;
    text-decoration: underline;
  }
}
